.medium-report {
    width: 350px;
    display: flex;
    flex-direction: column;
    height: 125px;
    color: lightgray;
}

.body {
    display: flex;
    flex-direction: row;

    div {
        width: 50%;
    }

    .value {
        color: black;
    }

    .image img {
        width: 40%;
    }
}