.small-report {
    width: 350px;
    height: 60px;
    display: flex;
}

.icon {
    width: 20%;
    overflow: hidden;
}

.body {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.report-value {
    width: 90%;
    color: lightgray;
}

.report-menu {
    width: 10%;
}